<div class="container fadeIn">

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<%= bootstrap_form_for @blog, html: { multipart: true } do |f| %>

					<%= f.text_field :title %>

					<%= f.file_field :image %>

					<%= f.text_area :content %>

					<%= f.submit %>

			<% end %>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});
</script>