<div class="container fadeIn" id="portfolio">

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<h1 style="text-align:center;">Portfolio</h1>

			<br />

		</div>

	</div>

	<br />
	<br />

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<h2 style="text-align:center; font-weight:bold;">Mobile Apps</h2>

		</div>

	</div>

	<br />

	<div class="row">

		<div class="col-md-6">

			<div class="poverty" style="margin-bottom:10px;">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="https://itunes.apple.com/gb/app/povertyfacts/id999045386?mt=8">Poverty Facts</a></h3>
				<a href="https://itunes.apple.com/gb/app/povertyfacts/id999045386?mt=8"><%= image_tag('poverty_facts.png', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify;">Poverty Facts is an iOS app which allows you to view astonishing facts reagrding poverty in the world. It is designed with a simple interface and a nice user experience in mind. Click on the logo or the title to take you to the download page.</p>

			</div>

		</div>

		<div class="col-md-6">

			<div class="whatDay">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="https://itunes.apple.com/gb/app/whatday/id1034893369?mt=8">What Day</a></h3>
				<a href="https://itunes.apple.com/gb/app/whatday/id1034893369?mt=8"><%= image_tag('what_day.png', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify;">What Day is another iOS app which allows you to select any date in the last 2015 years, press the button and find out which day of the week it was. I design all apps and website to look the best they possibly can for the user. Click on the logo or the title to take you to the download page.</p>

			</div>

		</div>

	</div>

	<br />

	<br />

	<hr />

	<br />

	<br />

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<h2 style="text-align:center; font-weight:bold;">Web Apps</h2>

		</div>

	</div>

	<br />

	<div class="row">

		<div class="col-md-6">

			<div class="webApp">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="http://www.theconservatorylife.com/" target="_blank">The Conservatory Life</a></h3>
				<a href="http://www.theconservatorylife.com/" target="_blank"><%= image_tag('conservatory.jpg', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify; margin-bottom:10px;"><a href="http://www.theconservatorylife.com" style="text-decoration:underline;" target="_blank">TheConservatoryLife.com</a> is a website where you can find all sorts of information regarding conservatories. I give you much information about the types, accessories, roofs and prices. Click on the logo or the title to take you to the website.</p>

			</div>

		</div>

		<div class="col-md-6">

			<div class="webApp">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="http://www.theegghouse.co.uk/" target="_blank">The Egg House</a></h3>
				<a href="http://www.theegghouse.co.uk/" target="_blank"><%= image_tag('egg_house.png', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify; margin-bottom:50px;"><a href="http://www.theegghouse.co.uk" style="text-decoration:underline;" target="_blank">www.theegghouse.co.uk</a> is a website built in the form of a portfolio for a holiday home. The use of the site is to show off the property and location in a modern way. It has a simple parallax design.</p>

			</div>

		</div>

		<div class="col-md-6">

			<div class="webApp">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="http://www.wind.org.uk/" target="_blank">The Winchester Independents</a></h3>
				<a href="http://www.wind.org.uk/" target="_blank"><%= image_tag('wind_logo.png', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify; margin-bottom:50px;"><a href="http://www.wind.org.uk" style="text-decoration:underline;" target="_blank">www.wind.org.uk</a> is a website built in the form of a portfolio for a new independent council party in Winchester, Hampshire. The use of the site is to explain what they do, who they are and how you can get involved in their aims</p>

			</div>

		</div>

		<div class="col-md-6">

			<div class="webApp">

				<h3 style="text-align:center; margin-bottom:20px;"><a href="http://www.inorouteu.uk/" target="_blank">In or Out EU UK</a></h3>
				<a href="http://www.inorouteu.uk/" target="_blank"><%= image_tag('inorout.jpg', class: "portfolio_image", style: "width:150px;height:150px; margin-bottom:20px;") %></a>
				<p style="text-align:justify; margin-bottom:50px;"><a href="http://www.inorouteu.uk" style="text-decoration:underline;" target="_blank">www.inorouteu.uk</a> is a website I developed to help people get a clear understanding of the UK's 2016 EU referendum. Since there were so much bias information out there, and a lack of honest, clear and simple advice, I decided to put this site together. It's design is a simple parallax.</p>

			</div>

		</div>


	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});
</script>