<div class="container fadeIn" id="portfolio">

	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			<br />

			<h1 style="text-align:center;">Portfolio</h1>

			<br />

		</div>

	</div>

	<br />

	<div class="row">

		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("Poverty Facts", portfolio_poverty_facts_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('poverty_facts.png', style: "max-width:100%; height:100%; padding:30px;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_poverty_facts_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>


		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("What Day?", portfolio_what_day_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('what_day.png', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_what_day_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>



		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("Primes", portfolio_primes_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('primes.png', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_primes_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>

	</div>






	<div class="row">

		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("My Position", portfolio_my_position_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('my_position.png', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_my_position_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>




		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("The Conservatory Life", portfolio_the_conservatory_life_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('conservatory.jpg', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_the_conservatory_life_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>



		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("The Egg House", portfolio_the_egg_house_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('egg_house.png', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_the_egg_house_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>

	</div>




	<div class="row">

		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("Winchester Independents", portfolio_winchester_independents_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('wind_logo.jpg', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_winchester_independents_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>




		<div class="col-md-4">

			<div class="portfolioProject">

				<div class="appBox">

					<div class="overlayImage">

						<p class="portfolioText"><%= link_to("In or Out EU UK", portfolio_in_or_out_eu_uk_path, style: "color:white !important;") %></p>

					</div>

					<%= image_tag('inorout.jpg', style: "width:100%; height:100%;") %>

				</div>

				<div class="text-center"><%= link_to("View Project", portfolio_in_or_out_eu_uk_path, class: "btn btn-success btn-lg portfolioPageButton") %></div>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fadeIn').fadeIn(1000);
	});
</script>