<div class="container fadeIn">

	<div class="row">

		<div class="col-md-8 col-md-offset-2">

			<h1 style="text-align:center; font-size:32px;">Contact</h1>

			<br />
			<br />

		</div>

	</div>

	<div class="row">

		<div class="col-md-6 col-md-offset-3" id="contact">

			<div class="content">

				<h3 style="font-family: Geneva;">General Information</h3><br />
				<p style="font-family: Geneva; font-size:18px;">If you have any questions or queries</p>
				<p style="font-family: Geneva; font-size:18px;">you can use the contact form below, send a direct email... or Tweet me?</p> 
				<p style="font-family: Geneva; font-size:18px;">I am available for freelance work, so please get in touch.</p>

			</div>

			<hr />

    	</div>


	    <br />




		<div class="col-md-6 col-md-offset-3">

			<div class="content">

				<h3 style="font-family: Geneva;">Send me a message</h3><br />

				<%= bootstrap_form_for @contact, html: { multipart: true } do |f| %>

					<%= f.text_field :name, required: true, placeholder: "Name", hide_label: true %>

					<br />

					<%= f.email_field :email, required: true, placeholder: "Email", hide_label: true %>

					<br />

					<%= f.text_area :message, as: :text, placeholder: "Message", hide_label: true %>

					<br />

					<div class="hidden">

						<%= f.text_field :nickname, placeholder: "Leave Blank (Spam test)", hide_label: true %>

					</div>

					<%= f.submit 'Send Message' %>

				<% end %>

			</div>

		</div>


		<div class="col-md-6 col-md-offset-3">

			<br />

	    	<hr />

	    </div>

	    <br />





	    <div class="col-md-8 col-md-offset-2">

			<div class="content">

				<h3 style="font-family: Geneva;">Contact Details</h3><br />
				<ul class="contact-info">

					<div>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<li style="font-size:18px;"><a href="mailto:tcdevelopment@hotmail.com">tcdevelopment@hotmail.com</a></li>
					</div>

					<br />

					<div>
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
						<li style="font-size:18px;"><li style="font-size:18px;"><a href="http://twitter.com/intent/tweet?screen_name=tc_web_dev" target="_blank">Twitter: @tc_web_dev</a></li>
					</div>

					<br />

					<div>
						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<li style="font-size:18px;"><a href="https://www.linkedin.com/in/tom-caldwell-26b8b0119?authType=NAME_SEARCH&amp;authToken=EkJp&amp;locale=en_US&amp;srchid=4949064831460579903408&amp;srchindex=1&amp;srchtotal=261&amp;trk=vsrp_people_res_name&amp;trkInfo=VSRPsearchId%3A4949064831460579903408%2CVSRPtargetId%3A494906483%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH" target="_blank">LinkedIn Account</a></li>
					</div>

					<br />

					<div>
						<i class="fa fa-github" aria-hidden="true"></i>
						<li style="font-size:18px;"><a href="https://github.com/tomwcaldwell" target="_blank">Github Account</a></li>
					</div>

					<br />

				</ul>

			</div>

		</div>

	</div>

</div>

<script>
	$(document).ready(function(){
		$('.fade').fadeIn(1000);
	});
</script>